html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color:#2C3531;
}

#main-container{
    padding:0;
}
#opening-container{
    background-image: url("/public/intro-bg.jpg");
    background-size:cover;
    padding:0;
    padding: 0 0 1rem 0;
}


.fade {
    -webkit-animation: fade 4s;
    animation: fade 4s;
    -moz-animation: fade 4s;
    -o-animation: fade 4s;
    }
    
    @-webkit-keyframes fade {
    0% {opacity: 0} 
    50% {opacity: 0.5}
    100% {opacity: 1}
    }
    
    @-moz-keyframes fade{
        0% {opacity: 0.0} 
        50% {opacity: 0.5}
        100% {opacity: 1}
    }
    
    @keyframes fade {
        0% {opacity: 0.0} 
        50% {opacity: 0.5}
        100% {opacity: 1}
        }
    @-o-keyframes fade {
        0% {opacity: 0.0} 
        50% {opacity: 0.5}
        100% {opacity: 1}
    
    }