#about-container{
    background-image: linear-gradient(rgba(44, 53, 49, 0.92), rgba(44,53,49,0.92)), url("/public/about-bg.png");
    background-size: cover;
    border-top: 0.5rem solid #2C3531;
    text-align: center;
}
#about-photo{
    position: relative;
    top: -11.1rem;
}
#about-info{
    position: relative;
    bottom: 8rem;
}
.about-header{
    color: #116466;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0rem;
    margin: 1rem 0 2rem 0;
    border-bottom: 7px solid #116466;
}
#about-about{
    padding: 0 0 2rem 0;
}
.about-text{
    font-family: 'Lato', sans-serif;
    color: #D1E8E2;
    font-size: 18px;
    letter-spacing: 0.1rem;
    padding: 0 11rem;
}
.about-text-intro{
    font-family: 'Lato', sans-serif;
    color: #D1E8E2;
    font-size: 18px;
    padding: 1rem;
}