#intro-container{
  position: relative;
  padding: 0 0 13rem 0;
  text-align: center;
}
#intro-container img{
padding: 2rem 0 0 0;
}

@media only screen and (max-width: 1024px) {
  #intro-container img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 376px) {
#intro-container img {
  max-width: 98%;
}
}
