#navbar-container{
    width:100%;
    background: #2C3531;
    margin: 0;
    text-align: center;
    padding: 0.4rem 1rem;
    z-index: 12;
}
.menu-link{
    text-decoration: none;
    color: #116466;
    padding: 0 1rem;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-link:hover{
    text-decoration: none;
    color: #D1E8E2;
}   